
<div class="row">
    <div class="tag-box tag-box-v3 col-md-10">
        <div class="headline"><h3><i class="fa fa-tasks"></i> {{vm.title}}</h3></div>
        <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Filter <input name="filterHops" ng-model="q"/></p>
            <p><a ng-click="vm.prevPage()">Prev</a> Current page:{{vm.currPage}}  Total Pages:{{vm.totalPages}}   <a ng-click="vm.nextPage()">Next</a> </p>
        </div>
        <div>
            <table class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class=""></th>
                    <th class="col-md-2">Hops</th>
                    <th class="">Country of Origin</th>
                    <th class="">Alpha</th>
                    <th class="">Type</th>
                    <th class="">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="h in vm.currPageData | orderBy:'name' | filter:q">
                    <td class="vert-align"><span class="glyphicon glyphicon-trash text-successs"></span></td>
                    <td class="vert-align col-md-2"><strong><a href="/hops/{{h.id}}">{{h.name}}</a></strong></td>
                    <td class="vert-align col-md-2">{{h.countryOfOrigin}}</td>
                    <td class="vert-align">{{h.alphaAcid | number:2}}</td>
                    <td class="vert-align">{{h.type}}</td>
                    <td class="vert-align">{{h.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

