<div class="tag-box tag-box-v3 col-md-7">

    <div class="headline"><h3><i class="fa fa-tasks"></i>Login</h3></div>

    <form class="margin-bottom-40" role="form">

        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" class="form-control" id="uname" ng-model="vm.username">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="text" class="form-control" id="pwd" ng-model="vm.password">
        </div>

        <button type="submit" class="btn-u btn-u-blue" ng-click="vm.getToken()">Login</button>
        <span class="pull-right"><h5><a href="/register">Register for an account</a></h5></span>
        <div></div>
    </form>







</div>